{{template "sub/header" .}}
{{template "sub/boardnav" .__user.GetBoards}}

{{with .board}}
<h2>/{{.Id}}/ — {{.Desc}}</h2>
{{end}}

{{$err := .error}}
{{$f := .__form}}
<form method="post" action='{{url "thread-create" "bid" (str .bid)}}'>
    <input type="hidden" name="form-path" value="{{.__req.URL.Path}}"/>
    <p>title: <input name="post-title" value="{{$f.title}}"/>
        <span class='title error'>{{$err.title}}</span>
	</p>
    <p>comment:
    <span class='body error'>{{$err.body}}</span>
    <textarea name="post-body">{{$f.body}}</textarea>
	</p>
    <p class="info"></p>
    <input type="submit" value="create new thread"/>
</form>
<p>page {{.pageno}}</p>
{{range .threads}}
    <div>
        {{template "sub/thread" .}}
        {{range .RecentPosts}}
            {{template "sub/post-preview" .}}
        {{end}}
    </div>
    <hr />
{{else}}
<h2>(No threads)</h2>
{{end}}
<script src="/public/scripts/board-page.js"></script>

{{template "sub/footer"}}
