{{template "sub/header" .}}
{{template "sub/boardnav" .__user.GetBoards}}

{{$err := .__error}}
{{$f := .__form}}
<form method="POST" action='{{with_thread_url "thread-reply" .thread}}'>
    <input type="hidden" name="form-path" value="{{.__req.URL.Path}}"/>
    <p>title: <input name="post-title" value="{{$f.title}}"/>
        <span class='error'>{{$err.title}}</span>
	</p>
    <p>comment:
    <span class='error'>{{$err.body}}</span>
    <textarea name="post-body">{{$f.body}}</textarea>
	</p>
    <input type="submit" value="post reply"/>
</form>
<div>
    {{template "sub/thread" .thread}}
    {{range .thread.GetPosts}}
        {{template "sub/post" .}}
    {{end}}
</div>
<script src="/public/scripts/intf-core.js"></script>
<script src="/public/scripts/intf-main.js"></script>
<script src="/public/scripts/thread.js"></script>
{{template "sub/footer"}}
