{{template "sub/header" .}}
{{template "sub/boardnav" .__user.GetBoards}}

{{$err := .error}}
{{$f := .__form}}
<form method="POST" action='{{with_thread_url "thread-reply" .thread}}'>
    <input type="hidden" name="form-path" value="{{.__req.URL.Path}}"/>
    <p>title: <input name="title" value="{{$f.title}}"/>
        <span class='error title'>{{$err.title}}</span>
	</p>
    <p>comment:
    <span class='error body'>{{$err.body}}</span>
    <textarea name="body">{{$f.body}}</textarea>
	</p>
    <p class="info"></p>
    <input type="submit" value="post reply"/>
</form>
<div id="thread-container">
    {{template "sub/thread" .thread}}
    {{range .thread.GetPosts}}
        {{template "sub/post" .}}
    {{end}}
</div>
<div id="template">
    {{template "sub/post" .thread.GetOp}}
</div>
<script src="/public/scripts/intf-core.js"></script>
<script src="/public/scripts/intf-main.js"></script>
<script src="/public/scripts/thread.js"></script>
<script src="/public/scripts/thread-view.js"> </script>
{{template "sub/footer"}}
