{{define "sub/header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/public/styles/main.css" />
</head>
<body>
Username: {{.__username}}
{{end}}

{{define "sub/footer"}}
</body>
</html>
{{end}}

{{define "sub/thread"}}
<div class='thread'>
    <h3>#{{.Id}} | {{.Title}} - {{.Creator.Name}}</h3>
    {{$link :=  url "thread-view" "bid" (str .Board.Id) "tid" (str .Id)}}
    <p>[<a href='{{$link}}'>reply</a>]</p>
    <p>
    {{.Body}}
    </p>
<div>
{{end}}

{{define "sub/post"}}
<div class='post'>
    <div class='post'>
      <p>
        <a class='post-anchor' href='#'>No.</a><span class='post-id'>{{.Id}}</span>
        <p>[<a href='{{thread_url .Thread}}'>reply</a>]</p>
      </p>
        <h4>#{{.Id}} | {{.Title}} - {{.Creator.Name}}</h4>
        <p class='post-body'>
        {{.Body}}
        </p>
        <hr />
        <div class='post-replies'></div>
    </div>
</div>
{{end}}

