{{define "sub/header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/public/styles/main.css" />
</head>
<body>

<div id="wrapper">
    {{with .__username}}
    Username: {{.}}
    {{end}}
    {{range .__notifications}}
        <p class="notification">(!) {{.}}</p>
    {{end}}
{{end}}

{{define "sub/footer"}}
</div><!-- end wrapper -->
</body>
</html>
{{end}}

{{define "sub/boardnav"}}
[/ {{range .}}<a href="{{board_url .}}">{{.Id}}</a> / {{end}}
] [<a href="/">Home</a>]
{{end}}
