
{{define "sub/thread"}}
<div id="p{{.Id}}" class='post thread'>
    <a name="p{{.Id}}" class='post-id post-anchor' href="{{thread_url .}}">{{.Id}}</a>
    {{template "sub/post-body" .GetOp}}
</div>
{{end}}

{{define "sub/post-preview"}}
<div id="p{{.Id}}" class='post'>
    <p>
    <a name="p{{.Id}}" class='post-id post-anchor' href="{{post_url .}}">{{.Id}}</a>
    {{/*<p>[<a href='{{thread_url .Thread}}'>reply</a>]</p>*/}}
    </p>
    {{template "sub/post-body" .}}
</div>
{{end}}

{{define "sub/post"}}
<div id="p{{.Id}}" class='post'>
    <p>
    <a name="p{{.Id}}" class='post-id post-anchor' href="#p{{.Id}}">{{.Id}}</a>
    {{/*<p>[<a href='{{thread_url .Thread}}'>reply</a>]</p>*/}}
    </p>
    {{template "sub/post-body" .}}
</div>
{{end}}

{{define "sub/post-body"}}
    <h4>{{.Title}} <span>{{.Creator.Name}}</span></h4>
    <p class='post-body'>
    {{render_postlinks .}}
    </p>
    <div class='post-replies'>replies::</div>
    <hr />
{{end}}

{{define "sub/postlink"}}
<a class="postlink pl{{.Id}}" href="{{.Link}}">{{.Text}}</a>
{{end}}
