
body {
    background-color: #fefefe;
}

#wrapper {
    width: 950px;
    margin: auto;
}

.thread.post {
    background-color: #ddd;
}

.post {
    padding: 2px;
    margin: 3px;
    background-color: inherit;
    padding: 5px;
}

.post.preview {
    border: 2px solid black;
}

.postlink {
    color: #f44;
}

.postlink.child {
    margin-right: 10px;
}
.post-replies {
    font-size: 10;
}

.post.subthread {
    border-left: 3px solid gray;
    padding-left: 15px;
}

.maymay-arrow {
    color: #1d1;
}

.indented {
    margin-left: 50px;
}

.post.highlight {
    border: 2px solid black;
    border-left: 3px solid #e00;
}

.notification {
    color: green;
}

a.void {
    text-decoration: line-through;
}

.postlink.referred {
    background-color: orange;
}

.quote {
    color: green;
}

.postlink.active {
    color: green;
}

textarea {
    width: 100%;
}

.error {
    color: red;
}

a {
    display: inline-block;
}

#template {
    display: none;
}
