
body {
    background-color: #eee;
}

#wrapper {
    width: 950px;
    margin: auto;
}

.post {
    padding: 2px;
    margin: 3px;
    background-color: inherit;
    padding: 5px;
}

.postlink {
    color: #f44;
}

.postlink.child {
    margin-right: 10px;
}
.post-replies {
    font-size: 10;
}

.post.subthread {
    border-left: 5px solid yellow;
    padding-left: 15px;
}

.maymay-arrow {
    color: #1d1;
}

.indented {
    margin-left: 50px;
}

.post.highlight {
    border-left: 5px solid red;
}

.notification {
    color: green;
}

.postlink.void {
    text-decoration: line-through;
}

.postlink.referred {
    background-color: orange;
}

.quote {
    color: green;
}

.postlink.active {
    color: green;
}
