
body {
    background-color: #ddf;
}

.post {
    padding: 2px;
    margin: 3px;
    background-color: #333;
    color: #eea;
}

/*
.postlink.parent {
color: red;
}
 */
.postlink {
    color: #f44;
}

.postlink.child {
    margin-right: 10px;
}
.post-replies {
    font-size: 10;
}

.post.subthread {
    border-left: 10px solid yellow;
    padding-left: 10px;
}

.maymay-arrow {
    color: #1d1;
}

.indented {
    margin-left: 50px;
}

.post.highlight {
    background-color: #555;;
}

.notification {
    color: green;
}

.postlink.void {
    text-decoration: line-through;
}
